.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 80px;
  margin-top: 0;
}

.prod {
  color: white !important;
}

.prod:hover {
  color: turquoise!important;;
}

.products {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid black;
}
.productDesc {
  display: grid;
 
  padding: 5px;
}